# Dependências do Node.js
node_modules/
.npm/
.yarn/
pnpm-lock.yaml
yarn.lock

# Arquivos de build
dist/

# Outros arquivos e pastas gerados
.cache/
.vscode/
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.log
