/* Variaveis CSS */
:root {
  --main-color: rgb(192, 0, 0);
  --white-color: #fff;
  --font-high: 50px;
  --font-middle: 40px;
}

/*Estilização do componente Header*/
.Header-bg {
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
  top: 0;
}
.container {
  height: auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container h1 a {
  color: var(--white-color);
  font-size: var(--font-high);
  text-decoration: none;
}
.container .header-menu {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 45px;
}
.container .header-menu ul {
  max-width: 100%;
  display: flex;
  gap: 65px;
}
.container .header-menu ul li,
.container .header-menu ul li a {
  font-size: 20px;
  color: #5a0000;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.container .header-menu ul li a:hover {
  color: var(--white-color);
  transition: 0.3s all ease-in-out;
  border-bottom: 3px solid var(--white-color);
}
.container div .user-icon,
.user-icon img {
  height: 40px;
  width: 40px;
  border: 1.5px solid var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
}
.user-icon:hover img {
  filter: brightness(75%);
}

/*Estilização do menu Mobile*/
.MenuMobile button {
  height: 40px;
  width: auto;
  border: none;
  position: relative;
  top: 5px;
}
.MenuMobile button img {
  height: 40px;
  width: auto;
}
/*Animação de deslizar para baixo*/
@keyframes slideDown {
  0% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(0%);
  }
}
.MenuMobile .menu-mobile-content {
  background-color: var(--main-color);
  height: 50vh;
  width: 100vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px 0;
  border-bottom: 3px solid var(--white-color);
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.menu-mobile-content button {
  height: 45px;
  width: 45px;
  color: var(--white-color);
  background-color: #3d0000;
  position: fixed;
  right: 0;
  margin: 0 5px;
  border-radius: 5px;
}
.menu-mobile-content .menu-mobile-items {
  display: flex;
  flex-direction: column;
}

/*Estilização do componente Carousel*/
.Carousel {
  width: 100vw;
  max-width: 100vw;
  outline: none;
}
.Carousel div,
.Carousel div img {
  height: 55vw;
  max-height: 700px;
  width: inherit;
  object-fit: cover;
}
.slick-prev,
.slick-next {
  display: none !important;
}

/*Estilização do componente Categories*/
.Categories {
  height: auto;
  width: 100%;
  background-color: #5a0000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 0;
}
.Categories .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.Categories .container button,
.Categories .container button div,
.Categories .container button img {
  border: 0;
  height: 24vw;
  max-height: 300px;
  width: 24vw;
  max-width: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.Categories div img:hover {
  filter: brightness(75%);
}

/*Estilização do componente Products e Promotions*/
.products-container {
  height: auto;
  max-width: 100%;
  width: 100vw;
  background-color: #3d0000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px 0;
}
.products-container h2 {
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-middle);
}
.products-container .container {
  height: inherit;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: row;
  grid-gap: 10px;
}
.products-container .container .product {
  height: auto;
  max-height: 400px;
  width: 300px;
  background-color: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
}
.product img {
  height: auto;
  width: 100%;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}
.product h3 {
  font-size: 25px;
}
.product .product-description {
  font-size: 15px;
  margin-bottom: 5px;
}
.product-price {
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 5px 5px 8px;
  border-top-right-radius: 5px;
}
.product .link-buy,
.product .link-buy button {
  color: var(--white-color);
  font-size: 20px;
  min-height: 50px;
  width: inherit;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border: none;
  background-color: var(--main-color);
  transition: all 0.2s ease;
}
.product .link-buy,
.product .link-buy button:hover {
  font-size: 23px;
  cursor: pointer;
}

/*Estilização do componente ChosenProduct*/
.productDetails {
  display: flex;
  justify-content: center;
}
#ChosenProduct {
  height: auto;
  min-height: 75vh;
  padding: 55px 0;
  flex-direction: column;
}
#ChosenProduct img {
  height: 500px;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  object-fit: cover;
}
#ChosenProduct div {
  background-color: #f1f1f1;
  height: 200px;
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-areas:
    "name price"
    "description description"
    "button button";
  padding: 15px;
  justify-content: space-between;
}
#ChosenProduct div h1 {
  grid-area: name;
  font-size: 3em;
  align-self: center;
}
#ChosenProduct div p:last-of-type {
  grid-area: description;
  padding: 5px;
}
#ChosenProduct div p:first-of-type {
  grid-area: price;
  font-size: 25px;
  color: green;
  font-weight: 600;
  padding: 5px;
  align-self: center;
}
#ChosenProduct button {
  grid-area: button;
  color: #fff;
  font-size: 20px;
  width: 100%;
  background-color: var(--main-color);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}
#ChosenProduct button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

/*Estilização do componente Footer*/
.Footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a0000;
  padding: 15px 0;
}
.Footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Footer .container .footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-content h3 {
  color: var(--white-color);
  font-size: var(--font-middle);
}
.footer-content ul {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-content ul li,
.footer-content ul li a {
  color: var(--white-color);
  text-decoration: none;
  list-style: none;
  display: flex;
}

/*Responsividade de telas com largura menor que 1000px*/
@media (max-width: 1000px) {
  /*Estilização do componente Header*/
  .container h1 a {
    font-size: 7.8vw;
  }

  /*Estilização do componente Categories*/
  .Categories {
    padding: 30px 0 10px 0;
  }

  /*Estilização do componente Products e Promotions*/
  .products-container h2 {
    font-size: 26px;
  }
  .products-container .container {
    width: auto;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .products-container .container .product {
    min-height: 200px;
    height: 100%;
    max-height: 300px;
    min-width: 200px;
    width: 250px;
  }
  .product h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .product .product-description {
    font-size: 14px;
  }
  .product-price {
    font-size: 15px;
  }
  .product .link-buy,
  .product .link-buy button {
    font-size: 15px;
    min-height: 45px;
    max-width: 300px;
    width: 100%;
  }
  .product .link-buy,
  .product .link-buy button:hover {
    font-size: 18px;
  }

  /*Estilização do componente ChosenProduct*/
  #ChosenProduct img {
    height: 500px;
    width: 100%;
    max-width: 500px;
  }
  #ChosenProduct div {
    height: 200px;
    width: 100%;
    max-width: 500px;
  }
  #ChosenProduct div h1 {
    font-size: 1.7em;
  }
  #ChosenProduct div p:first-of-type {
    font-size: 20px;
  }

  /*Estilização do componente Footer*/
  .footer-content h3 {
    font-size: 25px;
  }
}

@media (max-width: 570px) {
  /*Estilização do componente Products e Promotions*/
  .products-container .container .product {
    min-height: 200px;
    height: 100%;
    min-width: 200px;
    width: 200px;
  }
  .product h3 {
    font-size: 25px;
    font-weight: bold;
  }
  .product .link-buy,
  .product .link-buy button {
    font-size: 15px;
    min-height: 50px;
    max-width: 300px;
    width: 100%;
  }
}

/*Responsividade de telas com largura menor que 450px*/
@media (max-width: 450px) {
  /*Estilização do componente Header*/
  .container h1 a {
    font-size: 30px;
  }

  /*Estilização do componente Products e Promotions*/
  .products-container h2 {
    font-size: 25px;
  }
  .products-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .products-container .container .product {
    display: flex;
    min-height: 200px;
    height: 100%;
    max-height: auto;
    min-width: 200px;
    width: 100%;
    max-width: 250px;
  }
  .product h3 {
    font-size: 18px;
  }
  .product .product-description {
    font-size: 15px;
  }
  .product-price {
    font-size: 17px;
  }
  .product .link-buy,
  .product .link-buy button {
    min-width: 200px;
  }
  .product .link-buy,
  .product .link-buy button:hover {
    font-size: 20px;
  }

  /*Estilização do componente Footer*/
  .footer-content h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
  }
}
